.settings-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9;
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 20px;

}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  opacity: 80%;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: -70px;
  margin-top: -32px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

table img {
  display: inline-block;
  transition: transform 0.3s ease;
  z-index: 1;
  position: relative;
  width: 24px;
  height: 24px;
}